In [21]:
import numpy as np
import pandas as pd

# <center> Concatenating Underlying Data

In [22]:
_1 = pd.read_csv('1.csv')
_2 = pd.read_csv('2.csv')
_3 = pd.read_csv('3.csv')
_4 = pd.read_csv('4.csv')
_5 = pd.read_csv('5.csv')
_6 = pd.read_csv('6.csv')
_7 = pd.read_csv('7.csv')
_8 = pd.read_csv('8.csv')
_9 = pd.read_csv('9.csv')
_10 = pd.read_csv('10.csv')

In [23]:
_1.shape , _2.shape , _3.shape , _4.shape , _5.shape , _6.shape , _7.shape , _8.shape , _9.shape , _10.shape

((726, 8),
 (164, 8),
 (369, 8),
 (191, 8),
 (212, 8),
 (273, 8),
 (271, 8),
 (248, 8),
 (112, 8),
 (288, 8))

In [31]:
pd.concat([_1,_2,_3,_4,_5,_6,_7,_8,_9,_10],axis = 0).reset_index(drop=True).to_csv('level 2.csv',index = False)

# Country ,City, State

In [43]:
lvl_1 = pd.read_csv('Level 1.csv')
lvl_2 = pd.read_csv('level 2.csv')

In [44]:
country = pd.concat([lvl_1,lvl_2],axis = 1)#['Country']
country.drop('Country',axis = 1,inplace = True)
country

,Name,Rank,Level,Link,Gold,Silver,Bronze,Points,Joined,Total Competitions,Total Datasets,Total Codes,Total Discussions,Highest Rank,Current Rank,Current Level
0,Chris Deotte,1,grandmaster,https://www.kaggle.com/cdeotte,381,501,4317,"8,897",5 years ago,54.0,109.0,99,NaN,NaN,1.0,Competitions Grandmaster
1,Mar√≠lia Prata,2,grandmaster,https://www.kaggle.com/mpwolke,72,106,9452,"5,300",4 years ago,21.0,230.0,"1,880",NaN,NaN,2.0,Discussion Grandmaster
2,NaN,3,grandmaster,https://www.kaggle.com/hengck23,412,478,2688,"5,283",9 years ago,67.0,18.0,30,"5,756",139.0,NaN,Discussion Grandmaster
3,CPMP,4,grandmaster,https://www.kaggle.com/cpmpml,447,577,4494,"4,444",10 years ago,84.0,15.0,58,"9,743",12.0,NaN,Competitions Grandmaster
4,The Devastator,5,grandmaster,https://www.kaggle.com/thedevastator,62,44,2005,"3,438",6 months ago,19.0,326.0,38,NaN,19.0,NaN,Notebooks Grandmaster
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2849,Adam,2850,expert,https://www.kaggle.com/adamwoz,1,6,47,0,10 years ago,NaN,NaN,NaN,167,NaN,NaN,Discussion Expert
2850,SecondPlan,2851,expert,https://www.kaggle.com/usixuz,0,3,50,0,9 years ago,40.0,NaN,5.0,156,NaN,NaN,Competitions Expert
2851,Neil Summers,2852,expert,https://www.kaggle.com/neilsummers,5,7,66,0,9 years ago,15.0,NaN,1.0,154,NaN,NaN,Competitions Master
2852,Jiming Ye,2853,expert,https://www.kaggle.com/yejiming,0,5,61,0,8 years ago,17.0,NaN,1.0,189,NaN,NaN,Competitions Expert
2853,oconnoda,2854,expert,https://www.kaggle.com/oconnoda,0,2,49,0,8 years ago,2.0,NaN,3.0,235,NaN,NaN,Discussion Expert

In [36]:
lst = []
for a in country:
    if type(a) == float:
        cty , state , cntry = 'NA' , 'NA' , 'NA'
#         print(cty , state , cntry)
    elif type(a) == str:
        if len(a.split(',')) == 3:
            cty , state , cntry = a.split(',')
#             print(cty , state , cntry)
        elif len(a.split(',')) == 2:
            cty , cntry = a.split(',')
            state = 'NA'
#             print(cty , state , cntry)
        elif len(a.split(',')) == 1:
            cntry = a
            cty , state = 'NA' , 'NA'
#             print(cty , state , cntry)
#     print(cty , state , cntry)
    csc_lst = {
                  'City': cty,
                  'State':state,
                  'Country':cntry
                }
    lst.append(csc_lst)

In [46]:
pd.concat([country,pd.DataFrame(lst)],axis=1).to_csv('Discussion Tier Dataset.csv',index = False)
# pd.DataFrame(lst)

In [ ]:
pd.DataFrame(lst).to_csv('city,state,country.csv',index = False)