In [175]:
import pandas as pd 
import numpy as np

In [176]:
one = pd.read_csv('1.csv')
two = pd.read_csv('2.csv')
three = pd.read_csv('3.csv')
four = pd.read_csv('4.csv')
five = pd.read_csv('5.csv')
six = pd.read_csv('6.csv')
seven = pd.read_csv('7.csv')
eight = pd.read_csv('8.csv')
nine = pd.read_csv('9.csv')
ten = pd.read_csv('10.csv')
elv = pd.read_csv('11.csv')
tlv = pd.read_csv('12.csv')
trtn = pd.read_csv('13.csv')

In [177]:
one.shape[0]

214

In [178]:
two.shape[0]

211

In [179]:
three.shape[0]

21

In [180]:
four.shape[0]

237

In [181]:
five.shape[0]

3

In [182]:
six.shape[0]

25

In [183]:
seven.shape[0]

120

In [184]:
eight.shape[0]

116

In [185]:
nine.shape[0]

183

In [186]:
ten.shape[0]

63

In [187]:
elv.shape[0]

87

In [188]:
tlv.shape[0]

114

In [189]:
pd.concat([one,two,three,four,five,six,seven,eight,nine,ten,elv,tlv]).reset_index(drop=True).to_csv('level 2.csv',index=False)

In [190]:
lvl_1 = pd.read_csv('Level 1.csv')
lvl_1.sample(5)

,Name,Rank,Level,Link,Gold,Silver,Bronze,Points,Joined
423,Firuz Juraev,424,expert,https://www.kaggle.com/firuzjuraev,0,2,1,43,4 years ago
610,Mohamed Gamal Abd-El Wahab,611,expert,https://www.kaggle.com/muhammetgamal5,0,0,5,31,a year ago
603,Alex,604,expert,https://www.kaggle.com/cashncarry,0,1,3,31,4 years ago
1067,Abishek Sudarshan,1068,expert,https://www.kaggle.com/abisheksudarshan,0,1,2,13,8 years ago
1005,VaibhavChopra,1006,expert,https://www.kaggle.com/vaibhavchopra2,0,0,4,16,a year ago

In [191]:
lvl_2 = pd.read_csv('Level 2.csv')
lvl_2.sample(5)

,Country,Total Competitions,Total Datasets,Total Codes,Total Discussions,Highest Rank,Current Rank,Current Level
811,"Jodhpur, Rajasthan, India",1.0,6,NaN,15,437.0,815,Datasets Expert
1183,"Jabalpur, Madhya Pradesh, India",4.0,11,11.0,95.0,196.0,1190,Datasets Expert
410,"Aarhus, Denmark",1.0,10,27,124,44.0,412,Datasets Expert
525,"Tabriz, East Azerbaijan Province, Iran",NaN,4,14,166,NaN,471,Datasets Expert
674,"Melbourne, Victoria, Australia",3.0,101,8,2,646.0,680,Datasets Expert

In [116]:
country = pd.concat([lvl_1,lvl_2],axis = 1)['Country']
country

0         São Paulo, State of São Paulo, Brazil
1                                           NaN
2       Pittsburgh, Pennsylvania, United States
3                          Singapore, Singapore
4                           Delhi, Delhi, India
                         ...
1389                Bengaluru, Karnataka, India
1390                                        NaN
1391                Guna, Madhya Pradesh, India
1392                      Saharsa, Bihar, India
1393                Bhawanipatna, Odisha, India
Name: Country, Length: 1394, dtype: object

In [149]:
lst = []
for a in country:
    if type(a) == float:
        cty , state , cntry = 'NA' , 'NA' , 'NA'
#         print(cty , state , cntry)
    elif type(a) == str:
        if len(a.split(',')) == 3:
            cty , state , cntry = a.split(',')
#             print(cty , state , cntry)
        elif len(a.split(',')) == 2:
            cty , cntry = a.split(',')
            state = 'NA'
#             print(cty , state , cntry)
        elif len(a.split(',')) == 1:
            cntry = a
            cty , state = 'NA' , 'NA'
#             print(cty , state , cntry)
#     print(cty , state , cntry)
    csc_lst = {
                  'City': cty,
                  'State':state,
                  'Country':cntry
                }
    lst.append(csc_lst)

São Paulo  State of São Paulo  Brazil
NA NA NA
Pittsburgh  Pennsylvania  United States
Singapore NA  Singapore
Delhi  Delhi  India
Kolkata  West Bengal  India
Bucharest  Bucharest  Romania
Madrid  Community of Madrid  Spain
Rio de Janeiro  State of Rio de Janeiro  Brazil
Sydney  New South Wales  Australia
Varkala  Kerala  India
Jaipur  Rajasthan  India
Chennai  Tamil Nadu  India
NA NA NA
Mumbai  Maharashtra  India
Austin  Texas  United States
Amman  Amman Governorate  Jordan
Washington  District of Columbia  United States
Vilnius  Vilnius County  Lithuania
Pune  Maharashtra  India
San Diego  California  United States
San Francisco  California  United States
Princeton  New Jersey  United States
İstanbul  İstanbul  Turkey
Stavanger  Rogaland  Norway
Bengaluru  Karnataka  India
Orvault  Pays de la Loire  France
Melbourne  Victoria  Australia
Chennai  Tamil Nadu  India
Pune  Maharashtra  India
Greencastle  Indiana  United States
NA NA NA
Karachi  Sindh  Pakistan
Philadelphia  Pennsylvania  United States
Bengaluru  Karnataka  India
Seattle  Washington  United States
Lahore  Punjab  Pakistan
Delhi  Delhi  India
Sydney  New South Wales  Australia
Cleveland  Ohio  United States
Hyderabad  Telangana  India
Haarlem  North Holland  Netherlands
Dhaka  Dhaka Division  Bangladesh
Moscow NA  Russia
Ahmedabad  Gujarat  India
Wellington  Wellington  New Zealand
Osaka  Osaka  Japan
NA NA NA
Bangkok  Bangkok  Thailand
NA NA United Kingdom
Dhaka  Dhaka Division  Bangladesh
Ahmedabad  Gujarat  India
Bucharest  Bucharest  Romania
Sohawa  Punjab  Pakistan
Portland  Oregon  United States
NA NA NA
Bahawalpur  Punjab  Pakistan
Bengaluru  Karnataka  India
Manila  Metro Manila  Philippines
İstanbul  İstanbul  Turkey
Burichang  Chittagong Division  Bangladesh
Scottsdale  Arizona  United States
Greater Noida  Uttar Pradesh  India
Baltimore  Maryland  United States
Fort Worth  Texas  United States
Golden  Colorado  United States
Iloilo City  Western Visayas  Philippines
Hyderabad  Telangana  India
Abu Dhabi  Abu Dhabi  United Arab Emirates
Windsor  Ontario  Canada
Mumbai  Maharashtra  India
Cork  County Cork  Ireland
Boston  Massachusetts  United States
Kayseri  Kayseri  Turkey
Lviv  Lviv Oblast  Ukraine
Pune  Maharashtra  India
Pisa  Tuscany  Italy
Tehran  Tehran Province  Iran
Dallas  Texas  United States
Mashhad  Razavi Khorasan Province  Iran
NA NA NA
Mumbai  Maharashtra  India
Dhaka  Dhaka Division  Bangladesh
Dubai  Dubai  United Arab Emirates
New Delhi  Delhi  India
London  Ontario  Canada
Amreli  Gujarat  India
London  Ontario  Canada
Konya  Konya  Turkey
London  England  United Kingdom
Charlotte  North Carolina  United States
NA NA NA
Gurugram  Haryana  India
NA NA NA
NA NA NA
Navi Mumbai  Maharashtra  India
Bhopal  Madhya Pradesh  India
NA NA NA
Bengaluru  Karnataka  India
Florida City  Florida  United States
Greenville  South Carolina  United States
Gdańsk  Pomeranian Voivodeship  Poland
Hyderabad  Telangana  India
Katihar  Bihar  India
Dubai  Dubai  United Arab Emirates
San Francisco  California  United States
Tokyo  Tokyo  Japan
Moscow NA  Russia
Bengaluru  Karnataka  India
Alexandria  Virginia  United States
Rotterdam  South Holland  Netherlands
Islamabad  Islamabad Capital Territory  Pakistan
İstanbul  İstanbul  Turkey
Waterloo  Ontario  Canada
Rio de Janeiro  State of Rio de Janeiro  Brazil
Salt Lake City  Utah  United States
Hyderabad  Telangana  India
Hangu  Khyber Pakhtunkhwa  Pakistan
Chennai  Tamil Nadu  India
Ranchi  Jharkhand  India
Lahore  Punjab  Pakistan
San Francisco  California  United States
New York  New York  United States
Buenos Aires  Buenos Aires  Argentina
Vinnytsia  Vinnytsia Oblast  Ukraine
Barisal Division NA  Bangladesh
Passau  Bavaria  Germany
Kolkata  West Bengal  India
Jakarta  Jakarta  Indonesia
Amsterdam  North Holland  Netherlands
Pune  Maharashtra  India
İstanbul  İstanbul  Turkey
New Delhi  Delhi  India
Akola  Maharashtra  India
Kasaragod  Kerala  India
NA NA NA
Los Angeles  California  United States
Mumbai  Maharashtra  India
Bahawalpur  Punjab  Pakistan
Chennai  Tamil Nadu  India
Dhaka  Dhaka Division  Bangladesh
Istanbul  Istanbul  Turkey
Hyderabad  Telangana  India
Ernakulam  Kerala  India
İstanbul  İstanbul  Turkey
Bhopal  Madhya Pradesh  India
NA NA NA
Philadelphia  Pennsylvania  United States
New Delhi  Delhi  India
New Delhi  Delhi  India
Shiraz  Fars Province  Iran
New Delhi  Delhi  India
Tehran  Tehran Province  Iran
Manila  Metro Manila  Philippines
Paris  Île-de-France  France
Chicago  Illinois  United States
Berlin  Berlin  Germany
Dubai  Dubai  United Arab Emirates
Gurugram  Haryana  India
Taunsa  Punjab  Pakistan
Hamedan  Hamadan Province  Iran
Patiala  Punjab  India
Berlin  Berlin  Germany
Bengaluru  Karnataka  India
NA NA NA
NA NA NA
Bengaluru  Karnataka  India
Nantes  Pays de la Loire  France
Gurugram  Haryana  India
Delhi  Delhi  India
San Francisco  California  United States
Saint Petersburg NA  Russia
Lexington  South Carolina  United States
Manchester  England  United Kingdom
Bengaluru  Karnataka  India
Yazd  Yazd Province  Iran
Charlotte  North Carolina  United States
Aydın  Aydın  Turkey
Valencia  Valencian Community  Spain
NA NA NA
NA NA Singapore
Santa Clarita  California  United States
Ghaziabad  Uttar Pradesh  India
Baghdad  Baghdad Governorate  Iraq
Mandi  Himachal Pradesh  India
Chandigarh  Chandigarh  India
Campinas  State of São Paulo  Brazil
Noida  Uttar Pradesh  India
Shahrbabak  Kerman Province  Iran
Gurugram  Haryana  India
Pune  Maharashtra  India
Colombo  Western Province  Sri Lanka
Fukuoka  Fukuoka  Japan
Chennai  Tamil Nadu  India
Bengaluru  Karnataka  India
Thane  Maharashtra  India
Tangier  Tangier-Tétouan-Al Hoceima  Morocco
Warangal  Telangana  India
Buffalo  Minnesota  United States
Chandannagar  West Bengal  India
Tokyo  Tokyo  Japan
Abu Dhabi  Abu Dhabi  United Arab Emirates
Aracaju  State of Sergipe  Brazil
Rio Grande  State of Rio Grande do Sul  Brazil
Madrid  Community of Madrid  Spain
Mumbai  Maharashtra  India
Jaipur  Rajasthan  India
Delhi  Delhi  India
Cumilla  Chittagong Division  Bangladesh
Bengaluru  Karnataka  India
Charlotte  North Carolina  United States
Thiruvananthapuram  Kerala  India
Halifax  Nova Scotia  Canada
Toronto  Ontario  Canada
San Francisco  California  United States
Singapore NA  Singapore
Guelph  Ontario  Canada
Dubai  Dubai  United Arab Emirates
Menlo Park  California  United States
Hamburg  Hamburg  Germany
Cairo  Cairo Governorate  Egypt
Gurugram  Haryana  India
Lausanne  Vaud  Switzerland
Santa Clara  California  United States
NA NA NA
Gomel  Gomel Region  Belarus
Selangor NA  Malaysia
Chennai  Tamil Nadu  India
NA NA NA
Kyiv NA  Ukraine
Honolulu  Hawaii  United States
Moscow NA  Russia
Pune  Maharashtra  India
Raipur  Chhattisgarh  India
Singapore NA  Singapore
Shibuya City  Tokyo  Japan
NA NA NA
Bengaluru  Karnataka  India
San Francisco  California  United States
İstanbul  İstanbul  Turkey
Ankara  Ankara  Turkey
Surat  Gujarat  India
Mumbai  Maharashtra  India
Prague  Prague  Czechia
Lagos  Lagos  Nigeria
Kuwait City  Al Asimah Governate  Kuwait
Paris  Île-de-France  France
Tel Aviv-Yafo  Tel Aviv District  Israel
Dhaka  Dhaka Division  Bangladesh
Mandalay  Mandalay Region  Myanmar (Burma)
Budapest NA  Hungary
Delhi  Delhi  India
Bengaluru  Karnataka  India
Vinnytsia  Vinnytsia Oblast  Ukraine
San Francisco  California  United States
Bhubaneswar  Odisha  India
Bengaluru  Karnataka  India
Bengaluru  Karnataka  India
Seoul  Seoul  South Korea
Saint Petersburg NA  Russia
Nagpur  Maharashtra  India
NA NA NA
Paris  Île-de-France  France
Ottawa  Ontario  Canada
Warsaw  Masovian Voivodeship  Poland
Surat  Gujarat  India
Ahmedabad  Gujarat  India
NA NA NA
Dhaka  Dhaka Division  Bangladesh
Pune  Maharashtra  India
Petaling Jaya  Selangor  Malaysia
Baton Rouge  Louisiana  United States
Kulmbach  Bavaria  Germany
Antalya  Antalya  Turkey
Franca  State of São Paulo  Brazil
Chicago  Illinois  United States
NA NA NA
Thiruvananthapuram  Kerala  India
Tallinn  Harju County  Estonia
Barcelona  Catalonia  Spain
Abadan  Khuzestan Province  Iran
Rostock  Mecklenburg-Vorpommern  Germany
London  England  United Kingdom
Bengaluru  Karnataka  India
Bengaluru  Karnataka  India
NA NA NA
Bengaluru  Karnataka  India
El-Mahalla El-Kubra  Gharbia Governorate  Egypt
Dubai  Dubai  United Arab Emirates
Bengaluru  Karnataka  India
Stanford  California  United States
Thiruvalla  Kerala  India
Bengaluru  Karnataka  India
Coimbatore  Tamil Nadu  India
Kobe  Hyogo  Japan
Kraków  Lesser Poland Voivodeship  Poland
Kobe  Hyogo  Japan
Thiruvananthapuram  Kerala  India
Lahore  Punjab  Pakistan
Tel Aviv-Yafo  Tel Aviv District  Israel
Seattle  Washington  United States
Campina Grande  State of Paraíba  Brazil
Gaithersburg  Maryland  United States
NA NA NA
Santiago  Santiago Metropolitan Region  Chile
Seoul  Seoul  South Korea
Visakhapatnam  Andhra Pradesh  India
New Delhi  Delhi  India
Sacramento  California  United States
Bengaluru  Karnataka  India
Kyiv NA  Ukraine
Colombo  Western Province  Sri Lanka
Raipur  Chhattisgarh  India
Quetta  Balochistan  Pakistan
Patiala  Punjab  India
Peravali  Andhra Pradesh  India
NA NA NA
Los Angeles  California  United States
Islamabad  Islamabad Capital Territory  Pakistan
Gurugram  Haryana  India
Fortaleza  State of Ceará  Brazil
Islamabad  Islamabad Capital Territory  Pakistan
Greater Noida  Uttar Pradesh  India
NA NA NA
Bengaluru  Karnataka  India
Guangzhou  Guangdong Province  China
Islamabad  Islamabad Capital Territory  Pakistan
Thrissur  Kerala  India
Feni  Chittagong Division  Bangladesh
Kawasaki  Kanagawa  Japan
London  England  United Kingdom
Bahawalpur  Punjab  Pakistan
Sohawa  Punjab  Pakistan
Howrah  West Bengal  India
Lahore  Punjab  Pakistan
Farrukhabad  Uttar Pradesh  India
Pune  Maharashtra  India
Liverpool  England  United Kingdom
Hwaseong-si  Gyeonggi-do  South Korea
Surat  Gujarat  India
Maroua  Far North  Cameroon
NA NA Muzaffarabad
Bengaluru  Karnataka  India
Karachi  Sindh  Pakistan
NA NA NA
Guangzhou  Guangdong Province  China
Chandigarh  Chandigarh  India
Lahore  Punjab  Pakistan
Curitiba  State of Paraná  Brazil
Chennai  Tamil Nadu  India
İzmir  İzmir  Turkey
Dresden  Saxony  Germany
Islamabad  Islamabad Capital Territory  Pakistan
Zhukovskiy  Moscow Oblast  Russia
Al-Malikiyah  Al-Hasakah Governorate  Syria
Kaithal  Haryana  India
Maroua  Far North  Cameroon
Rolla  Missouri  United States
Chennai  Tamil Nadu  India
Marseille  Provence-Alpes-Côte d'Azur  France
NA NA NA
Bahawalpur  Punjab  Pakistan
Kochi  Kerala  India
Seoul  Seoul  South Korea
Mumbai  Maharashtra  India
Winnipeg  Manitoba  Canada
Bilaspur  Chhattisgarh  India
Ahmedabad  Gujarat  India
Thonnakkal  Kerala  India
Shanghai  Shanghai  China
Gandhinagar  Gujarat  India
NA NA NA
Gainesville  Florida  United States
Cairo  Cairo Governorate  Egypt
Karachi  Sindh  Pakistan
NA NA NA
San Francisco  California  United States
Chiang Mai  Chiang Mai  Thailand
San Francisco  California  United States
Campinas  State of São Paulo  Brazil
Bengaluru  Karnataka  India
Fukuoka  Fukuoka  Japan
Delhi  Delhi  India
Varanasi  Uttar Pradesh  India
Mumbai  Maharashtra  India
Tanuku  Andhra Pradesh  India
NA NA NA
Tel Aviv-Yafo  Tel Aviv District  Israel
NA NA NA
Okinawa  Okinawa  Japan
Halden  Viken  Norway
Gharo  Sindh  Pakistan
Gurugram  Haryana  India
St Andrews  Scotland  United Kingdom
Mumbai  Maharashtra  India
Boston  Massachusetts  United States
Pune  Maharashtra  India
Punjab NA  Pakistan
Tokyo  Tokyo  Japan
Surat  Gujarat  India
NA NA NA
Gurugram  Haryana  India
Montreal  Quebec  Canada
NA NA NA
Bengaluru  Karnataka  India
Manila  Metro Manila  Philippines
Bhimavaram  Andhra Pradesh  India
Saint Petersburg NA  Russia
İstanbul  İstanbul  Turkey
Kolkata  West Bengal  India
Aarhus NA  Denmark
Lucknow  Uttar Pradesh  India
Kuala Lumpur  Federal Territory of Kuala Lumpur  Malaysia
Mumbai  Maharashtra  India
Orlando  Florida  United States
Rajkot  Gujarat  India
Bhopal  Madhya Pradesh  India
Kolkata  West Bengal  India
İstanbul  İstanbul  Turkey
NA NA NA
Battle Mountain  Nevada  United States
Bengaluru  Karnataka  India
Kolkata  West Bengal  India
Suwon-si  Gyeonggi-do  South Korea
NA NA NA
Madurai  Tamil Nadu  India
Mumbai  Maharashtra  India
Seoul  Seoul  South Korea
Jodhpur  Rajasthan  India
NA NA NA
Osaka  Osaka  Japan
Nanchong  Sichuan  China
Tokyo  Tokyo  Japan
London  England  United Kingdom
Seoul  Seoul  South Korea
Bordeaux  Nouvelle-Aquitaine  France
Budapest NA  Hungary
Athens NA  Greece
Navi Mumbai  Maharashtra  India
Seoul  Seoul  South Korea
Seoul  Seoul  South Korea
Hafizabad  Punjab  Pakistan
Bengaluru  Karnataka  India
Rome  Lazio  Italy
College Park  Maryland  United States
Sofia  Sofia City Province  Bulgaria
Austin  Texas  United States
Nijmegen  Gelderland  Netherlands
Ahmedabad  Gujarat  India
Gassaway  West Virginia  United States
Nanded  Maharashtra  India
Gurugram  Haryana  India
Pune  Maharashtra  India
Cairo  Cairo Governorate  Egypt
Chennai  Tamil Nadu  India
Coimbatore  Tamil Nadu  India
Raipur  Chhattisgarh  India
Chennai  Tamil Nadu  India
Nagpur  Maharashtra  India
Indore  Madhya Pradesh  India
NA NA NA
Paris  Île-de-France  France
Greater Noida  Uttar Pradesh  India
Gurugram  Haryana  India
Islamabad  Islamabad Capital Territory  Pakistan
NA NA NA
Karachi  Sindh  Pakistan
Lucknow  Uttar Pradesh  India
Dhaka  Dhaka Division  Bangladesh
Amsterdam  North Holland  Netherlands
New Delhi  Delhi  India
Pune  Maharashtra  India

Chicago  Illinois  United States
Ahmedabad  Gujarat  India
Tiruppur  Tamil Nadu  India
Ottawa  Ontario  Canada
Atlanta  Georgia  United States
NA NA NA
Hyderabad  Telangana  India
Pune  Maharashtra  India
Varanasi  Uttar Pradesh  India
Mumbai  Maharashtra  India
Chennai  Tamil Nadu  India
Ankara  Ankara  Turkey
Thiruvananthapuram  Kerala  India
6th of October City  Giza Governorate  Egypt
NA NA NA
Moscow NA  Russia
São Paulo  State of São Paulo  Brazil
NA NA Jammu
Bengaluru  Karnataka  India
NA NA NA
Ho Chi Minh City  Ho Chi Minh City  Vietnam
Kolkata  West Bengal  India
Kolkata  West Bengal  India
Sydney  New South Wales  Australia
Nakhon Ratchasima NA  Thailand
Moradabad  Uttar Pradesh  India
Charlotte  North Carolina  United States
New Delhi  Delhi  India
Kanpur  Uttar Pradesh  India
Los Angeles  California  United States
Bengaluru  Karnataka  India
Santiago  Santiago Metropolitan Region  Chile
Rawalpindi  Punjab  Pakistan
Tehran  Tehran Province  Iran
Sadiqabad  Punjab  Pakistan
Haldwani  Uttarakhand  India
Portland  Oregon  United States
Bengaluru  Karnataka  India
Budapest NA  Hungary
Bengaluru  Karnataka  India
Santiago  Santiago Metropolitan Region  Chile
Bengaluru  Karnataka  India
Gothenburg  Västra Götaland County  Sweden
Irvine  California  United States
New Delhi  Delhi  India
Lucknow  Uttar Pradesh  India
Coimbatore  Tamil Nadu  India
Tunis  Tunis  Tunisia
Hawally  Hawalli Governorate  Kuwait
Meerut  Uttar Pradesh  India
Ludhiana  Punjab  India
Ankara  Ankara  Turkey
NA NA NA
Tabriz  East Azerbaijan Province  Iran
Srikakulam  Andhra Pradesh  India
NA NA NA
Kyiv NA  Ukraine
NA NA NA
İstanbul  Istanbul  Turkey
Burhanpur  Madhya Pradesh  India
Bengaluru  Karnataka  India
NA NA NA
Nagpur  Maharashtra  India
Bogor  West Java  Indonesia
Kolkata  West Bengal  India
NA NA NA
Thiruvananthapuram  Kerala  India
Bahawalpur  Punjab  Pakistan
Rome  Lazio  Italy
Los Angeles  California  United States
Bengaluru  Karnataka  India
Delhi  Delhi  India
Paris  Île-de-France  France
Chennai  Tamil Nadu  India
Jaipur  Rajasthan  India
Hyderabad  Telangana  India
Zhuhai  Guangdong Province  China
NA NA NA
NA NA NA
Seoul  Seoul  South Korea
London  England  United Kingdom
Munich  Bavaria  Germany
NA NA NA
Bengaluru  Karnataka  India
Kazan  Republic of Tatarstan  Russia
Bengaluru  Karnataka  India
Kolkata  West Bengal  India
Mumbai  Maharashtra  India
Mumbai  Maharashtra  India
Kafr El-Shaikh  Gharbia Governorate  Egypt
Feni  Chittagong Division  Bangladesh
NA NA NA
Nagpur  Maharashtra  India
NA NA NA
Pune  Maharashtra  India
NA NA NA
Bhilai  Chhattisgarh  India
London  England  United Kingdom
Barcelona  Catalonia  Spain
Pune  Maharashtra  India
Moscow NA  Russia
Vadodara  Gujarat  India
Mangalore  Karnataka  India
Karachi  Sindh  Pakistan
Surat  Gujarat  India
Amaravati  Andhra Pradesh  India
Montevideo  Montevideo Department  Uruguay
Moscow NA  Russia
Naya Raipur  Chhattisgarh  India
Khulna  Khulna Division  Bangladesh
NA NA NA
London  England  United Kingdom
Parma  Emilia-Romagna  Italy
NA NA NA
NA NA NA
İstanbul  İstanbul  Turkey
NA NA NA
NA NA NA
Boston  Massachusetts  United States
NA NA NA
Kharkiv  Kharkiv Oblast  Ukraine
Mumbai  Maharashtra  India
Anyang  Gyeonggi-do  South Korea
Chennai  Tamil Nadu  India
Minsk  Minsk Region  Belarus
Mumbai  Maharashtra  India
Tokyo  Tokyo  Japan
Shanghai  Shanghai  China
New Delhi  Delhi  India
Phagwara  Punjab  India
Surabaya  East Java  Indonesia
Kyiv NA  Ukraine
İstanbul  İstanbul  Turkey
Pune  Maharashtra  India
Mumbai  Maharashtra  India
Jaipur  Rajasthan  India
Islamabad  Islamabad Capital Territory  Pakistan
NA NA NA
Cairo  Cairo Governorate  Egypt
Bahawalpur  Punjab  Pakistan
Amman  Amman Governorate  Jordan
Hangzhou  Zhejiang  China
New York  New York  United States
NA NA France
Vijayawada  Andhra Pradesh  India
Eindhoven  North Brabant  Netherlands
Canterbury  England  United Kingdom
Tel Aviv-Yafo  Tel Aviv District  Israel
Mumbai  Maharashtra  India
Tunis  Tunis  Tunisia
Baku NA  Azerbaijan
Bristol  England  United Kingdom
Gurugram  Haryana  India
Chennai  Tamil Nadu  India
Milan  Lombardy  Italy
NA NA NA
Mumbai  Maharashtra  India
Nagpur  Maharashtra  India
Kolkata  West Bengal  India
Prayagraj  Uttar Pradesh  India
Tiruppur  Tamil Nadu  India
Minneapolis  Minnesota  United States
Jaipur  Rajasthan  India
Rajkot  Gujarat  India
Tehran  Tehran Province  Iran
Faridabad  Haryana  India
Curitiba  State of Paraná  Brazil
Cairo  Cairo Governorate  Egypt
Bengaluru  Karnataka  India
Mumbai  Maharashtra  India
Howrah  West Bengal  India
Brussels  Brussels  Belgium
Pau  Nouvelle-Aquitaine  France
Dehradun  Uttarakhand  India
Thiruvananthapuram  Kerala  India
Vadodara  Gujarat  India
NA NA NA
Mirandópolis  State of São Paulo  Brazil
NA NA NA
Ahmedabad  Gujarat  India
NA NA NA
NA NA NA
Dubai  Dubai  United Arab Emirates
NA NA NA
San Diego  California  United States
Jersey City  New Jersey  United States
İstanbul  Istanbul  Turkey
Paris  Île-de-France  France
Casteldelfino  Piedmont  Italy
Cairo  Cairo Governorate  Egypt
Beijing  Beijing  China
Brisbane  Queensland  Australia
NA NA NA
Tel Aviv-Yafo  Tel Aviv District  Israel
Tokyo  Tokyo  Japan
Warsaw  Masovian Voivodeship  Poland
NA NA NA
Oslo  Oslo  Norway
Amsterdam  North Holland  Netherlands
Mumbai  Maharashtra  India
NA NA NA
Thane  Maharashtra  India
Melbourne  Victoria  Australia
Bareilly  Uttar Pradesh  India
Boston  Massachusetts  United States
NA NA Katra
Thane  Maharashtra  India
Chennai  Tamil Nadu  India
Mumbai  Maharashtra  India
Gujrat  Punjab  Pakistan
Polatsk  Vitebsk Region  Belarus
Mumbai  Maharashtra  India
Peravali  Andhra Pradesh  India
Surat  Gujarat  India
Bahawalpur  Punjab  Pakistan
Taxila  Punjab  Pakistan
Dubai  Dubai  United Arab Emirates
Chennai  Tamil Nadu  India
Bandung  West Java  Indonesia
Riga NA  Latvia
Vladivostok  Primorsky Krai  Russia
Thane  Maharashtra  India
Mumbai  Maharashtra  India
NA NA NA
Ernakulam  Kerala  India
Vadodara  Gujarat  India
Munich  Bavaria  Germany
Palo Alto  California  United States
Monterrey  Nuevo Leon  Mexico
Pune  Maharashtra  India
NA NA NA
NA NA NA
NA NA NA
Bengaluru  Karnataka  India
Hsinchu NA  Taiwan
Miami  Florida  United States
Tel Aviv-Yafo  Tel Aviv District  Israel
Saint Petersburg NA  Russia
Saharanpur  Uttar Pradesh  India
Sofia  Sofia City Province  Bulgaria
NA NA NA
Putrajaya  Putrajaya  Malaysia
Bengaluru  Karnataka  India
Gurugram  Haryana  India
Ahmedabad  Gujarat  India
Karachi  Sindh  Pakistan
Edmonton  Alberta  Canada
Antalya  Antalya  Turkey
Majitar  Sikkim  India
NA NA NA
NA NA NA
Durgapur  West Bengal  India
San Mateo  California  United States
NA NA NA
NA NA NA
NA NA NA
Philadelphia  Pennsylvania  United States
Delhi  Delhi  India
Singapore NA  Singapore
Hamburg  Hamburg  Germany
NA NA NA
Rajkot  Gujarat  India
NA NA NA
Amsterdam  North Holland  Netherlands
Theni  Tamil Nadu  India
Guwahati  Assam  India
Bengaluru  Karnataka  India
Kochi  Kerala  India
Florence  Tuscany  Italy
Mumbai  Maharashtra  India
Bengaluru  Karnataka  India
Agadir  Souss-Massa  Morocco
Damanhour  El Beheira Governorate  Egypt
Ibadan  Oyo  Nigeria
NA NA NA
Tianjin  Tianjin  China
Verona  Veneto  Italy
Los Angeles  California  United States
Yogyakarta  Special Region of Yogyakarta  Indonesia
London  England  United Kingdom
Singapore NA  Singapore
Chennai  Tamil Nadu  India
NA NA NA
Neyveli  Tamil Nadu  India
Tel Aviv-Yafo  Tel Aviv District  Israel
New York  New York  United States
Seoul  Seoul  South Korea
Gurugram  Haryana  India
California City  California  United States
London  England  United Kingdom
Bengaluru  Karnataka  India
Hyderabad  Telangana  India
NA NA NA
Antalya  Antalya  Turkey
İstanbul  İstanbul  Turkey
Calgary  Alberta  Canada
Kharagpur  West Bengal  India
NA NA NA
Portland  Oregon  United States
NA NA NA
Cheruvathur  Kerala  India
Guwahati  Assam  India
Shanghai  Shanghai  China
Thane  Maharashtra  India
NA NA NA
NA NA NA
Sydney  New South Wales  Australia
Ahmedabad  Gujarat  India
Cincinnati  Ohio  United States
Hyderabad  Telangana  India
Sanford  North Carolina  United States
Clovis  California  United States
NA NA NA
York  England  United Kingdom
San Jose  California  United States
Austin  Texas  United States
Minneapolis  Minnesota  United States
Irving  Texas  United States
Guwahati  Assam  India
Islamabad  Islamabad Capital Territory  Pakistan
Tokyo  Tokyo  Japan
Tokyo  Tokyo  Japan
İstanbul  İstanbul  Turkey
Noida  Uttar Pradesh  India
Bengaluru  Karnataka  India
Mumbai  Maharashtra  India
Frankfurt  Hesse  Germany
Pune  Maharashtra  India
London  Ontario  Canada
Kolkata  West Bengal  India
NA NA Jammu
Bengaluru  Karnataka  India
Beijing  Beijing  China
Lahore  Punjab  Pakistan
Abu Dhabi  Abu Dhabi  United Arab Emirates
Karachi  Sindh  Pakistan
NA NA NA
Rourkela  Odisha  India
Houston  Texas  United States
Jodhpur  Rajasthan  India
Bengaluru  Karnataka  India
Düsseldorf  North Rhine-Westphalia  Germany
Lahore  Punjab  Pakistan
NA NA NA
NA NA NA
Chesterfield  Missouri  United States
Guildford  England  United Kingdom
São Paulo  State of São Paulo  Brazil
Pune  Maharashtra  India
Ghaziabad  Uttar Pradesh  India
Barcelona  Catalonia  Spain
Paris  Île-de-France  France
NA NA NA
Saint Petersburg NA  Russia
Bengaluru  Karnataka  India
Medford  Massachusetts  United States
Vienna  Vienna  Austria
NA NA NA
Bandung  West Java  Indonesia
Anantapur  Andhra Pradesh  India
Hyderabad  Telangana  India
NA NA NA
NA NA NA
Pune  Maharashtra  India
Mumbai  Maharashtra  India
Tel Aviv-Yafo  Tel Aviv District  Israel
Santiago  Santiago Metropolitan Region  Chile
NA NA NA
New Delhi  Delhi  India
Heidelberg  Baden-Württemberg  Germany
Dhaka  Dhaka Division  Bangladesh
Chunian  Punjab  Pakistan
Tiruppur  Tamil Nadu  India
Vijayawada  Andhra Pradesh  India
NA NA NA
Cologne  North Rhine-Westphalia  Germany
Dubai  Dubai  United Arab Emirates
Shibuya City  Tokyo  Japan
Moscow NA  Russia
Munich  Bavaria  Germany
Lahore  Punjab  Pakistan
Delhi  Delhi  India
Saint Petersburg NA  Russia
Navi Mumbai  Maharashtra  India
Hyderabad  Telangana  India
Kolkata  West Bengal  India
Tehran  Tehran Province  Iran
Karachi  Sindh  Pakistan
Thiruvananthapuram  Kerala  India
Charlotte  North Carolina  United States
NA NA NA
Surat  Gujarat  India
Tehran  Tehran Province  Iran
Meta  Missouri  United States
Daejeon  Daejeon  South Korea
Moscow NA  Russia
Cairo  Cairo Governorate  Egypt
NA NA NA
Kolkata  West Bengal  India
El Jem  Mahdia  Tunisia
Dortmund  North Rhine-Westphalia  Germany
Kolkata  West Bengal  India
Melbourne  Victoria  Australia
NA NA Taiwan
NA NA Japan
Beirut  Beirut Governorate  Lebanon
Montreal  Quebec  Canada
Istanbul  Istanbul  Turkey
Colombo  Western Province  Sri Lanka
Madison  Wisconsin  United States
Pune  Maharashtra  India
Taipei NA  Taiwan
Cairo  Cairo Governorate  Egypt
Mumbai  Maharashtra  India
Moscow NA  Russia
Bizerte  Bizerte  Tunisia
Natal  State of Rio Grande do Norte  Brazil
Kolkata  West Bengal  India
Noida  Uttar Pradesh  India
Perth  Western Australia  Australia
Mahdia  Mahdia  Tunisia
Bengaluru  Karnataka  India
New York  New York  United States
İstanbul  İstanbul  Turkey
Córdoba  Cordoba  Argentina

NA NA NA
Kolkata  West Bengal  India
Anand  Gujarat  India
Taipei NA  Taiwan
Dubai  Dubai  United Arab Emirates
Knoxville  Tennessee  United States
Bengaluru  Karnataka  India
Toronto  Ontario  Canada
Moscow NA  Russia
Coimbatore  Tamil Nadu  India
Thrissur  Kerala  India
New Delhi  Delhi  India
NA NA NA
Jamnagar  Gujarat  India
Wilmington  North Carolina  United States
Atlanta  Georgia  United States
Boston  Massachusetts  United States
Rourkela  Odisha  India
Paris  Île-de-France  France
Dublin  County Dublin  Ireland
Ghaziabad  Uttar Pradesh  India
Bengaluru  Karnataka  India
Madrid  Community of Madrid  Spain
Auckland  Auckland  New Zealand
Alexandria  Alexandria Governorate  Egypt
Tiruppur  Tamil Nadu  India
NA NA NA
Pune  Maharashtra  India
Sivasagar  Assam  India
Almería  Andalusia  Spain
Linz  Upper Austria  Austria
Melbourne  Victoria  Australia
Mumbai  Maharashtra  India
Accra  Greater Accra Region  Ghana
Bengaluru  Karnataka  India
Chennai  Tamil Nadu  India
Baku NA  Azerbaijan
Bengaluru  Karnataka  India
Jabalpur  Madhya Pradesh  India
Hyderabad  Telangana  India
İzmit  Kocaeli  Turkey
Hosur  Tamil Nadu  India
London  England  United Kingdom
New Delhi  Delhi  India
Hong Kong NA  Hong Kong
Kolkata  West Bengal  India
Belfast  Northern Ireland  United Kingdom
Madrid  Community of Madrid  Spain
Jaipur  Rajasthan  India
Shimla  Himachal Pradesh  India
İstanbul  İstanbul  Turkey
São Paulo  State of São Paulo  Brazil
Coimbatore  Tamil Nadu  India
Kota  Rajasthan  India
Mangalore  Karnataka  India
Patna  Bihar  India
Kolkata  West Bengal  India
Delhi  Delhi  India
Melbourne  Victoria  Australia
Johannesburg  Gauteng  South Africa
Chennai  Tamil Nadu  India
Temara  Rabat-Salé-Kénitra  Morocco
Islamabad  Islamabad Capital Territory  Pakistan
Mumbai  Maharashtra  India
Kafr El-Shaikh  Gharbia Governorate  Egypt
Ranchi  Jharkhand  India
Taipei NA  Taiwan
Bengaluru  Karnataka  India
Giza  Giza Governorate  Egypt
NA NA NA
Tehran  Tehran Province  Iran
Kolkata  West Bengal  India
Mumbai  Maharashtra  India
Moscow NA  Russia
Dublin  County Dublin  Ireland
Los Angeles  California  United States
Palaiseau  Île-de-France  France
Singapore NA  Singapore
NA NA NA
Chennai  Tamil Nadu  India
Pune  Maharashtra  India
Ahmedabad  Gujarat  India
Gandhinagar  Gujarat  India
Bengaluru  Karnataka  India
Seattle  Washington  United States
İstanbul  Istanbul  Turkey
Gazipur  Dhaka Division  Bangladesh
Setif  Sétif Province  Algeria
New Delhi  Delhi  India
Tehran  Tehran Province  Iran
Yokohama  Kanagawa  Japan
Tunis  Tunis  Tunisia
Nagpur  Maharashtra  India
Kharagpur  West Bengal  India
NA NA NA
Cairo  Cairo Governorate  Egypt
Tehran  Tehran Province  Iran
Greater Noida  Uttar Pradesh  India
New Delhi  Delhi  India
Nagpur  Maharashtra  India
Lima  Callao Region  Peru
Pune  Maharashtra  India
Kazakhstan  Almaty Province  Kazakhstan
Moscow NA  Russia
Bhagalpur  Bihar  India
Jaipur  Rajasthan  India
Lisbon  Lisbon  Portugal
Visakhapatnam  Andhra Pradesh  India
Sirsa  Haryana  India
Kanpur  Uttar Pradesh  India
Chattogram  Chittagong Division  Bangladesh
New Orleans  Louisiana  United States
Bad Berka  Thuringia  Germany
Paris  Île-de-France  France
Yokohama  Kanagawa  Japan
Mumbai  Maharashtra  India
Santiago  Santiago Metropolitan Region  Chile
Hong Kong NA  Hong Kong
İstanbul  İstanbul  Turkey
Chennai  Tamil Nadu  India
Mumbai  Maharashtra  India
Delhi  Delhi  India
Hyderabad  Telangana  India
Noida  Uttar Pradesh  India
Calgary  Alberta  Canada
Kyiv NA  Ukraine
New Delhi  Delhi  India
Kolkata  West Bengal  India
Karur  Tamil Nadu  India
Bhubaneswar  Odisha  India
Delhi  Delhi  India
Bikaner  Rajasthan  India
Houston  Texas  United States
Bangkok  Bangkok  Thailand
Dresden  Saxony  Germany
Columbus  Ohio  United States
Chandannagar  West Bengal  India
São Paulo  State of São Paulo  Brazil
Anand  Gujarat  India
NA NA NA
Potsdam  Brandenburg  Germany
Lahore  Punjab  Pakistan
Seattle  Washington  United States
Gaza  Iowa  United States
Tokyo  Tokyo  Japan
NA NA NA
NA NA NA
Kalyani  West Bengal  India
Ranchi  Jharkhand  India
Belgrade NA  Serbia
Tokyo  Tokyo  Japan
Pune  Maharashtra  India
Kharkiv  Kharkiv Oblast  Ukraine
NA NA NA
Bengaluru  Karnataka  India
Islamabad  Islamabad Capital Territory  Pakistan
Latina  Lazio  Italy
Ahmedabad  Gujarat  India
Boston  Massachusetts  United States
Chicago  Illinois  United States
Tel Aviv-Yafo  Tel Aviv District  Israel
Munshiganj  Dhaka Division  Bangladesh
Lucknow  Uttar Pradesh  India
6th of October City  Giza Governorate  Egypt
Hyderabad  Telangana  India
Mumbai  Maharashtra  India
Bursa  Bursa  Turkey
Wah Cantt  Punjab  Pakistan
NA NA NA
Bengaluru  Karnataka  India
Chennai  Tamil Nadu  India
Bengaluru  Karnataka  India
Enschede  Overijssel  Netherlands
Pune  Maharashtra  India
Hyderabad  Telangana  India
Rio de Janeiro  State of Rio de Janeiro  Brazil
Hermosillo  Sonora  Mexico
Helsinki NA  Finland
Lemgo  North Rhine-Westphalia  Germany
Hyderabad  Telangana  India
Pune  Maharashtra  India
Rajshahi  Rajshahi Division  Bangladesh
Hyderabad  Telangana  India
Chicago  Illinois  United States
Bengaluru  Karnataka  India
Alexandria  Alexandria Governorate  Egypt
Saharanpur  Uttar Pradesh  India
Dehradun  Uttarakhand  India
Copenhagen NA  Denmark
Bhubaneswar  Odisha  India
Faisalabad  Punjab  Pakistan
Mumbai  Maharashtra  India
Ankara  Ankara  Turkey
Delhi  Delhi  India
Accra  Greater Accra Region  Ghana
NA NA NA
Budapest NA  Hungary
Tiruppur  Tamil Nadu  India
Rahim Yar Khan  Punjab  Pakistan
NA NA NA
Vellore  Tamil Nadu  India
NA NA NA
Manhattan Beach  California  United States
New York  New York  United States
Chelyabinsk  Chelyabinsk Oblast  Russia
Shanghai  Shanghai  China
Albany  New York  United States
San Diego  California  United States
Rio de Janeiro  State of Rio de Janeiro  Brazil
Seoul  Seoul  South Korea
Melbourne  Victoria  Australia
Hà Nội NA  Vietnam
Chennai  Tamil Nadu  India
Gurugram  Haryana  India
Leuven  Flanders  Belgium
Warsaw  Masovian Voivodeship  Poland
New York  New York  United States
Kolkata  West Bengal  India
Chennai  Tamil Nadu  India
Chicago  Illinois  United States
Sonipat  Haryana  India
Neuchâtel  Neuchâtel  Switzerland
Dhanbad  Jharkhand  India
Dhaka  Dhaka Division  Bangladesh
Kolkata  West Bengal  India
Nazareth  Tamil Nadu  India
Hyderabad  Telangana  India
New Delhi  Delhi  India
Kolkata  West Bengal  India
Rio de Janeiro  State of Rio de Janeiro  Brazil
Bengaluru  Karnataka  India
Bengaluru  Karnataka  India
New Delhi  Delhi  India
Sapporo  Hokkaido  Japan
Dhaka  Dhaka Division  Bangladesh
Cairo  Cairo Governorate  Egypt
Newark  New Jersey  United States
Karachi  Sindh  Pakistan
Islamabad  Islamabad Capital Territory  Pakistan
NA NA NA
Solapur  Maharashtra  India
NA NA NA
NA NA NA
Santiago de Querétaro  Querétaro  Mexico
New Cairo City  Cairo Governorate  Egypt
London  England  United Kingdom
Goiânia  State of Goiás  Brazil
Boston  Massachusetts  United States
Dhaka  Dhaka Division  Bangladesh
Madison  Wisconsin  United States
Mumbai  Maharashtra  India
Gurugram  Haryana  India
Cascais  Lisbon  Portugal
Jaipur  Rajasthan  India
Delhi  Delhi  India
Minato City  Tokyo  Japan
Boston  Massachusetts  United States
Pune  Maharashtra  India
NA NA NA
Mangalore  Karnataka  India
Noisy-le-Grand  Île-de-France  France
Guwahati  Assam  India
Coimbatore  Tamil Nadu  India
Greater Noida  Uttar Pradesh  India
Hyderabad  Telangana  India
Greater Noida  Uttar Pradesh  India
Mumbai  Maharashtra  India
Samarkand  Samarqand Region  Uzbekistan
NA NA NA
Toronto  Ontario  Canada
Karachi  Sindh  Pakistan
Budapest NA  Hungary
Gelderland NA  Netherlands
Amherst  Massachusetts  United States
Kathmandu  Central Development Region  Nepal
İstanbul  Istanbul  Turkey
Lucknow  Uttar Pradesh  India
Hanoi  Hanoi  Vietnam
Sahibzada Ajit Singh Nagar  Punjab  India
Pune  Maharashtra  India
Bengaluru  Karnataka  India
Khulna  Khulna Division  Bangladesh
Bikaner  Rajasthan  India
Stockholm  Stockholm County  Sweden
Nawabshah  Sindh  Pakistan
Pune  Maharashtra  India
Jabalpur  Madhya Pradesh  India
Karnal  Haryana  India
Mogalturu  Andhra Pradesh  India
NA NA NA
Kyiv NA  Ukraine
Bengaluru  Karnataka  India
Adelaide  South Australia  Australia
Jaipur  Rajasthan  India
Guwahati  Assam  India
Dhaka  Dhaka Division  Bangladesh
Mashhad  Razavi Khorasan Province  Iran
Hyderabad  Telangana  India
NA NA NA
São Paulo  State of São Paulo  Brazil
São Paulo  State of São Paulo  Brazil
Austin  Texas  United States
Kaiserslautern  Rhineland-Palatinate  Germany
Dhaka  Dhaka Division  Bangladesh
Bandung  West Java  Indonesia
Karachi  Sindh  Pakistan
Thane  Maharashtra  India
Tel Aviv-Yafo  Tel Aviv District  Israel
Navi Mumbai  Maharashtra  India
NA NA NA
Haifa  Haifa District  Israel
Orlando  Florida  United States
Chicago  Illinois  United States
NA NA NA
Gurugram  Haryana  India
NA NA NA
Hanoi  Hanoi  Vietnam
Bengaluru  Karnataka  India
Chennai  Tamil Nadu  India
Rajshahi  Rajshahi Division  Bangladesh
San Francisco  California  United States
Erode  Tamil Nadu  India
Kolkata  West Bengal  India
Hyderabad  Telangana  India
Çanakkale  Çanakkale  Turkey
Bhubaneswar  Odisha  India
Tehran  Tehran Province  Iran
Busan  Busan  South Korea
Ankara  Ankara  Turkey
Alexandria  Alexandria Governorate  Egypt
Osmaniye  Osmaniye  Turkey
Amsterdam  North Holland  Netherlands
Bharatpur  Rajasthan  India
Patna  Bihar  India
Bengaluru  Karnataka  India
Mumbai  Maharashtra  India
Stuttgart  Baden-Württemberg  Germany
Hanoi  Hanoi  Vietnam
Nairobi  Nairobi County  Kenya
New Delhi  Delhi  India
Visakhapatnam  Andhra Pradesh  India
New Delhi  Delhi  India
NA NA NA
Moscow NA  Russia
Erbil  Kurdistan Region  Iraq
Bengaluru  Karnataka  India
Jaipur  Rajasthan  India
Detroit  Michigan  United States
Bengaluru  Karnataka  India
Chennai  Tamil Nadu  India
Navi Mumbai  Maharashtra  India
San Jose  California  United States
Moscow NA  Russia
Solapur  Maharashtra  India
Bandung  West Java  Indonesia
Chennai  Tamil Nadu  India
Bengaluru  Karnataka  India
İzmir  İzmir  Turkey
Roorkee  Uttarakhand  India
Ahmedabad  Gujarat  India
Lucknow  Uttar Pradesh  India
Dhaka  Dhaka Division  Bangladesh
Lucknow  Uttar Pradesh  India
Navi Mumbai  Maharashtra  India
Faridabad  Haryana  India
Vemulawada  Telangana  India
Islamabad  Islamabad Capital Territory  Pakistan
Dubai  Dubai  United Arab Emirates
Baltimore  Maryland  United States
NA NA NA
London  England  United Kingdom
NA NA Ramallah
Bengaluru  Karnataka  India
Kyiv NA  Ukraine
Bengaluru  Karnataka  India
West Lafayette  Indiana  United States
Antwerp  Flanders  Belgium
Tokyo  Tokyo  Japan
Buffalo  New York  United States
Mumbai  Maharashtra  India
Concord  California  United States
İstanbul  İstanbul  Turkey
Beijing  Beijing  China
Khulna  Khulna Division  Bangladesh
Vancouver  Washington  United States
Pune  Maharashtra  India
São Paulo  State of São Paulo  Brazil
NA NA NA
Tunis  Tunis  Tunisia
Rome  Lazio  Italy
Bokaro Steel City  Jharkhand  India
Greater Noida  Uttar Pradesh  India
Riga NA  Latvia
New Delhi  Delhi  India
Pune  Maharashtra  India
İstanbul  İstanbul  Turkey
Jersey City  New Jersey  United States
Delhi  Delhi  India
Novi Sad  Vojvodina  Serbia
Boston  Massachusetts  United States
NA NA NA
London  England  United Kingdom
Chicago  Illinois  United States
Irvine  California  United States
Delhi  Delhi  India
Enerhodar  Zaporizhia Oblast  Ukraine
New Delhi  Delhi  India
NA NA NA
Hanoi  Hanoi  Vietnam
Ho Chi Minh City  Ho Chi Minh City  Vietnam
Colombo  Western Province  Sri Lanka
Saarbrücken  Saarland  Germany
Pratapgarh  Uttar Pradesh  India
Mumbai  Maharashtra  India
New Delhi  Delhi  India
Bengaluru  Karnataka  India
NA NA NA
Mombasa  Mombasa County  Kenya
Gurugram  Haryana  India
Chennai  Tamil Nadu  India
Bengaluru  Karnataka  India
Noida  Uttar Pradesh  India
West Lafayette  Indiana  United States
Greater Noida  Uttar Pradesh  India
İstanbul  İstanbul  Turkey
İzmir  İzmir  Turkey
Pune  Maharashtra  India
Hyderabad  Telangana  India
San Diego  California  United States
NA NA NA
Casablanca  Casablanca-Settat  Morocco
Greater Noida  Uttar Pradesh  India
Mumbai  Maharashtra  India
São Paulo  State of São Paulo  Brazil
Dhanbad  Jharkhand  India
NA NA NA
Barcelona  Catalonia  Spain
Chennai  Tamil Nadu  India
Paris  Île-de-France  France
New Delhi  Delhi  India
Dramaga  West Java  Indonesia
Madrid  Community of Madrid  Spain
Coimbatore  Tamil Nadu  India
Pune  Maharashtra  India
Tunis  Tunis  Tunisia
Gurugram  Haryana  India
Toronto  Ontario  Canada
Jaipur  Rajasthan  India
Mathura  Uttar Pradesh  India
Beijing  Beijing  China
Rangpur  Rangpur Division  Bangladesh
Jaipur  Rajasthan  India
Bronxville  New York  United States
Bloomington  Indiana  United States
NA NA NA
NA NA NA
Mumbai  Maharashtra  India
Austin  Texas  United States
Toronto  Ontario  Canada
Bengaluru  Karnataka  India
Bengaluru  Karnataka  India
Patiala  Punjab  India
Warangal  Telangana  India
Incheon  Incheon  South Korea
Pune  Maharashtra  India
Bengaluru  Karnataka  India
Ho Chi Minh City  Ho Chi Minh City  Vietnam
Gurugram  Haryana  India
Rajshahi  Rajshahi Division  Bangladesh
Sandhikharka  Western Development Region  Nepal
Kathmandu  Central Development Region  Nepal
Turin  Piedmont  Italy
Delhi  Delhi  India
Surat  Gujarat  India
Nellore  Andhra Pradesh  India
Mysuru  Karnataka  India
Bengaluru  Karnataka  India
NA NA NA
Paris  Île-de-France  France
Hanoi  Hanoi  Vietnam
Hyderabad  Telangana  India
Bengaluru  Karnataka  India
Istanbul  Istanbul  Turkey
Karachi  Sindh  Pakistan
New Delhi  Delhi  India
İstanbul  İstanbul  Turkey
Tampa  Florida  United States
São Bernardo do Campo  State of São Paulo  Brazil
Mansoura  Dakahlia Governorate  Egypt
NA NA NA
Da Nang  Da Nang  Vietnam
Shanghai  West Virginia  United States
Bengaluru  Karnataka  India
NA NA NA
Guna  Madhya Pradesh  India
Saharsa  Bihar  India
Bhawanipatna  Odisha  India

In [157]:
pd.DataFrame(lst).to_csv('city,state,country.csv',index = False)

<CENTER><H1>FINAL CONCATENATION</H1></CENTER>

In [200]:
lvl_1 = pd.read_csv('Level 1.csv')
lvl_2 = pd.read_csv('Level 2.csv').drop('Country',axis = 1)
lvl_3 = pd.read_csv('city,state,country.csv')

In [206]:
pd.concat([lvl_1,lvl_2,lvl_3],axis = 1).to_csv('Datasets Tier Ranked Dataset.csv',index= False)

In [207]:
pd.read_csv('Datasets Tier Ranked Dataset.csv')

,Name,Rank,Level,Link,Gold,Silver,Bronze,Points,Joined,Total Competitions,Total Datasets,Total Codes,Total Discussions,Highest Rank,Current Rank,Current Level,City,State,Country
0,Larxel,1,grandmaster,https://www.kaggle.com/andrewmvd,11,25,42,"1,078",6 years ago,19.0,101,20,185,NaN,1,Datasets Grandmaster,São Paulo,State of São Paulo,Brazil
1,Suraj Jha,2,grandmaster,https://www.kaggle.com/surajjha101,12,8,0,907,9 months ago,NaN,20,3,"1,758",NaN,2,Datasets Grandmaster,NaN,NaN,NaN
2,Ruchi Bhatia,3,grandmaster,https://www.kaggle.com/ruchi798,12,15,17,810,3 years ago,20.0,44,25,531,NaN,3,Datasets Grandmaster,Pittsburgh,Pennsylvania,United States
3,Shivam Bansal,4,grandmaster,https://www.kaggle.com/shivamb,6,7,32,789,5 years ago,14.0,54,80,977,1.0,4,Datasets Grandmaster,Singapore,NaN,Singapore
4,Ram Jas,5,master,https://www.kaggle.com/ramjasmaurya,4,12,42,744,2 years ago,9.0,64,28,933,NaN,5,Datasets Master,Delhi,Delhi,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1389,Praveen Kumar,1390,expert,https://www.kaggle.com/penchalaiah123,0,0,3,3,2 years ago,13.0,9,19.0,84.0,273.0,1395,Datasets Expert,Bengaluru,Karnataka,India
1390,JobsPikr,1391,expert,https://www.kaggle.com/jobspikr,0,0,3,2,5 years ago,NaN,8,NaN,NaN,719.0,1397,Datasets Expert,NaN,NaN,NaN
1391,Alexsumt,1392,expert,https://www.kaggle.com/alexsumt,0,0,3,2,4 years ago,6.0,3,1.0,16.0,82.0,1398,Datasets Expert,Guna,Madhya Pradesh,India
1392,Jigyashu Suraj,1393,expert,https://www.kaggle.com/jigyashusuraj,0,0,3,2,3 years ago,NaN,3,5.0,52.0,110.0,1399,Datasets Expert,Saharsa,Bihar,India
1393,Sanskruti Panda,1394,expert,https://www.kaggle.com/sanskrutipanda,0,0,3,2,3 years ago,NaN,3,5.0,58.0,114.0,1400,Datasets Expert,Bhawanipatna,Odisha,India